* {
    margin: 0;
    font-family: Roboto;
}
.first {
    background-color: #1F2937;
    margin: 0;
    padding: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 120px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}
ul {
    list-style-type: none;
    display: flex;
    margin-left: 100px;
}
li {
    margin: 0 10px;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
p, a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
button {
    background-color: #3882F6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
}
h1, p {
    margin-bottom: 14px;
}
.section-1 {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    justify-content: center;
}
.left {
    width: 450px;
    margin-right: 60px;
}
.image {
    background-color: gray;
    height: 230px;
    width: 530px;
    object-fit: cover;
}
.information {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.second {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 120px;
}
.cards {
    display: flex;
    flex-direction: column;
}
.cat {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.infos {
    margin-top: 10px;
    width: 180px;
    text-align: center;
}
.third {
    background-color: #E5E7EB;
    padding: 150px 0;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 780px;
    margin: auto;
}
.author {
    font-weight: bold;
    font-size: 24px;
    color: #1F2937;
    text-align: center;
    margin-left: 450px;
}
.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}
.box {
    background-color: #3882F6;
    padding: 36px 130px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.call {
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
}
.sign {
    color: #E5E7EB;
    margin-bottom: 0;
}
.sign-up {
    background-color: #3882F6;
    border: 2px solid#F9FAF8;
    margin-left: 200px;
}
.footer {
    background-color: #1F2937;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right {
    color: #E5E7EB;
}
